@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    /* Brand Tokens - Gateway Default */
    --color-primary: #FAFAFA;
    --color-accent: #111111;
    --font-primary: 'Space Grotesk', sans-serif;
    --font-secondary: 'Inter', sans-serif;
    --radius-primary: 0px;

    /* Global Palette */
    --color-zinc-50: #FAFAFA;
    --color-zinc-900: #18181B;
    --color-orange: #FF4D00;
    --color-blue: #2962FF;
    --color-green: #10B981;
    --color-yellow: #FACC15;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    color: var(--color-accent);
    font-family: var(--font-primary);
    /* Liquid Context Transition */
    transition: background-color 0.8s cubic-bezier(0.25, 1, 0.5, 1),
        color 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

/* Lenis recommended constraints */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}